ion-toolbar {
  background-color: var(--ion-color-colores);
}
ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px #fff;
  color: #fff;
}
